{#
	Nunjucks Templating!
	Homepage: https://mozilla.github.io/nunjucks/
	Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	<div id="molectular-algorithm"></div>
	<!-- <header class="main-header">
		<nav class="main-nav">
			<ul>
				<li class="nav-link">
					<a href="#">About</a>
				</li>
				<li class="nav-link">
					<a href="#">Refresh</a>
				</li>
			</ul>
		</nav>
	</header> -->
{% endblock %}

{% block javascript %}
<script src="javascripts/app.js"></script>
{% endblock %}
