<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div id="molectular-algorithm"></div>
	</body>
</html>
